/* BARRA DE NAVEGACIÓN */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 100%;
}

body{
    background: #0a2f43;
    overflow: scroll;
}

nav{
    background: #ffffff;
    height: 80px;
    position: relative;
}
.contenedor{
    margin:auto;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    line-height: 80px;
    z-index: 100;
}

.contenedor-logo{
    margin-left: 20px;
    z-index: 100;
    cursor: pointer;
}

.contenedor-logo h2{
    color:#1A154E;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: -115px;
    margin-left: 100px;
}

.contenedor-logo img{
    height: 80px;
}

.links .link{
    display: inline-block;
}

.links .link a{
    text-decoration: none;
    color: #1A154E;
    font-size: 20px;
    margin: 0 20px;
    letter-spacing: 2px;
    transition: .3s;
}

.links .link a:hover{
    color: #463f94;
}

.menu{
    color: #1A154E;
    margin-right: 20px;
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .3s;
    display:none;
}

.rotate{
    transform: rotate(180deg);
}


/* SLIDER */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  

/* EXPERIENCIA */

.secciones h1{
    margin-top: 5%;
    
    font-size: 60px;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
}

.proyectos{
    margin-top: 5%;
    display: flex;
    position: relative;
}

.proyecto {
    width: 33%;
    padding: 3%;
    margin: 3%;
    text-align: center;
   
}

.detalles h2{
    margin-top: 3%;
}

.detalles{
    color: #ffffff;
    margin-top: -3%;
}


/* SOBRE MI */


.texto{
    margin-top: -35%;
    margin-left: 8%;
    color: #ffffff;
    text-align: justify;
    max-width: 50%;
    font-size: 20px;
    
}

.yo{
    margin-left: 67%;
    margin-top: 3%;
    
}

.motivacion{
    margin-top: -5%;
    margin-left: 65%;
    max-width: 30%;
    color: #ffffff;
    font-size: 20px;
    text-align: justify;
}

.familia{
    margin-left: 20%;
    margin-top: 5%;
 
}

.final{
    margin-top: 5%;
    background-color: #ffffff;
    color: #1A154E;
    font-size: 20px;
    text-align: center;
}



/* HABILIDADES */

.hab{
    color: #ffffff;
    margin-top: 10%;
    margin-left: 40%;
}


.task { 
  position: relativle;
  height: 26px;
  border-radius: 13px;
  border: 2px solid #dddddd;
  width: 300px;
  background: #eee;
  margin: 10px 0 50px;
}

.progress {
  position: relative;;
  top: -2px; 
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 3px solid #808080;
  background: #d3d3d3; 
}

.progress-red {
  background: #a93226 ; 
}
.progress-orange {
  background:  #f5b041; 
}
.progress-green {
  background: #27ae60; 
}

.tooltip {
  position: relative;
  bottom: -30px;
  font-size: .8rem;
  text-align: center;
  white-space: nowrap;
  opacity: 0;
  transition: opacity .2s;
  word-spacing: -2px;
}

.task:hover .tooltip {
  opacity: 1;
}



/* CONTÁCTAME */

.formulario{
    width: 50%;
    max-width: 30%;
    margin-left: 60%;
    margin-top: 3%;
    padding: 20px;
    box-shadow: 0 0 20px 1px #0000004d;
    position: relative;
}

.formulario h2{
    text-align:left;
    margin-top: 1%;
    color:#ffffff;
    margin-bottom: 10%;
}

.formulario_input, .formulario_label, .formulario_submit{
    display: block;
    width: 100%;
    font-size: 1.2em;
}

.formulario_input{
    padding: 5%;
    border: 1px solid #ffffff;
    margin-bottom: 10%;
    background: transparent;
    color: #ffffff;
}

.formulario_input:focus{
    outline: 1px solid rgba(0,0,0,0.7);
}

.formulario_input:focus + .formulario_label{
    margin-top: -28%;
}


.formulario_label{
    padding-left: 5%;
    position: absolute;
    margin-top: -20%;
    z-index: -20;
    color: #ffffff;
    transition: all 0.2s;
}

.formulario_submit{
    background-color: #ffffff;
    color: #1A154E;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.fijar{
    margin-top: -28%;
}

.social_media{
    
    margin-top: -15%;
    margin-left: 8%;
    margin-bottom: 10%;
}
#redes{
    width: 4%;
    margin-top: -8%;
    display: block;
    margin-left: 15%;
}

.social_media p{
    font-size: 20px;
    color: #ffffff;
    margin-top: -3%;
    margin-left: 20%;

}


@media screen and (max-width:1200px){
    
    .menu{
        display: inline-block;
    }

    .links{
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 80px);
        width: 100%;
        z-index: -1;
        top: -100vh;
        transition: .5s;
    }

    .activar{
        top:80px;
    }

    .links .link:hover {
        background: #463f94;
    }

    .yo{
        margin-left: 67%;
        margin-top:15%;
    }

    .familia{
        margin-left: 20%;
        margin-top: 5%;
    }

    .motivacion{
        margin-top: -25%;
        margin-left: 65%;
    }
}



