/* BARRA DE NAVEGACIÓN */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 100%;
}

body{
    background: #0a2f43;
    overflow: auto;
}

nav{
    background: #ffffff;
    height: 80px;
    position: relative;
}
.contenedor{
    margin:auto;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    line-height: 80px;
    z-index: 100;
}

.contenedor-logo{
    margin-left: 20px;
    z-index: 100;
    cursor: pointer;
}

.contenedor-logo h2{
    color:#1A154E;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: -115px;
    margin-left: 100px;
}

.contenedor-logo img{
    height: 80px;
}

.links .link{
    display: inline-block;
}

.links .link a{
    text-decoration: none;
    color: #1A154E;
    font-size: 20px;
    margin: 0 20px;
    letter-spacing: 2px;
    transition: .3s;
}

.links .link a:hover{
    color: #463f94;
}

.menu{
    color: #1A154E;
    margin-right: 20px;
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .3s;
    display:none;
}

.rotate{
    transform: rotate(180deg);
}


@media screen and (max-width:1200px){
    .menu{
        display: inline-block;
    }

    .links{
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 80px);
        width: 100%;
        z-index: -1;
        top: -100vh;
        transition: .5s;
    }

    .activar{
        top:80px;
    }

    .links .link:hover {
        background: #463f94;
    }
}

/* SLIDER */



/* EXPERIENCIA */

.secciones h1{
    margin-top: 5%;
    margin-left: 45%;
    font-size: 60px;
    color: #ffffff;
    letter-spacing: 2px;
}

.proyectos{
    margin-top: 5%;
    display: flex;
    position: relative;
}

.proyecto {
    width: 33%;
    padding: 3%;
    margin: 3%;
    text-align: center;
   
}

.detalles h2{
    margin-top: 3%;
}

.detalles{
    color: #ffffff;
    margin-top: -3%;
}


/* SOBRE MI */


.texto{
    margin-top: 3%;
    margin-left: 8%;
    color: #ffffff;
    text-align: justify;
    max-width: 50%;
    font-size: 20px;
    
}

.yo{
    margin-left: 67%;
    margin-top: -15%;
    
}

.motivacion{
    margin-top: 3%;
    margin-left: 65%;
    max-width: 30%;
    color: #ffffff;
    font-size: 20px;
    text-align: justify;
}

.familia{
    margin-left: 20%;
    margin-top: -25%;
 
}

.final{
    margin-top: 5%;
    background-color: #ffffff;
    color: #1A154E;
    font-size: 20px;
    text-align: center;
}



/* HABILIDADES */



/* CONTÁCTAME */














